<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css">
	</head>
	<body>

		<div id="main"><%- locals.reactOutput ? locals.reactOutput : '' %></div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
		<script src="/js/bundle.js"></script>
	</body>
</html>
