extends layout

append script 
	script(type='text/javascript' src='/js/login.js')
	
append content
	h1 Login or Register
	h2.subtitle Either way we just need your email and password!
	form#login(method="POST" onsubmit="tryLogin(this); return false;")
		fieldset
			label
				span email
				input(name="email", autofocus, autocomplete) 
			label
				span password
				input(name="password", type="password", autocomplete="off")
				div
					input#go(type="submit" value="go!") 
		div.errMsg 