extends layout



block content
	h1="DinoDNA"
	p 
		|Welcome 
		b #{user}!  
		|Upload your DNA file(s) below:
	
	script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css")
	form(action="/process-upload", class="dropzone" method="post", enctype="multipart/form-data")