extends layout

append style
	link(rel='stylesheet', href='/stylesheets/user-layout.css')
	
append header
	header.top-border
		div(style="float:left; font-size:20px; line-height:12px; margin-left:-75px;") DinoDNA
		div
			span.logged-in
				|logged in as #[span.username=user.email]
			span.logout
				a(href="logout") sign out

append content
	h1=pageTitle